/* Error: expected "{".
 *     ,
 * 212 | >>>>>>> 3e3747cafa8266d36701d4dbb1b321646fda6df0
 *     |                                                 ^
 *     '
 *   scss\_components.scss 212:49  @use
 *   scss\main.scss 3:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 212 \2502  >>>>>>> 3e3747cafa8266d36701d4dbb1b321646fda6df0\d\a     \2502                                                  ^\a     \2575 \a   scss\\_components.scss 212:49  @use\a   scss\\main.scss 3:1            root stylesheet';
}
