$color-blue: #3c5a99;;
$color-white: #fff;
$color-primary: #191D28 ;
$color-secondary: #bbb;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
}

%fullSpace {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-primary;
}
