@use 'base' as *;



.logo {
  img {
    width: 40px;
    height: 40px;
  }


}

.main-name {
  font-family: $font-nunito;
  font-size: 16px;
  color: $color-white;
  @include textStyles();
}

.collapse{
  display: flex;
  display: none;
}

.navbar-nav{
  display: flex;
  list-style: none;
}

.header-content{
  display: flex;
  align-items: center;
  margin-top: 4%;
}

.title{
  text-decoration: none;
  font-family: $font-openSans;
  font-size: 16px;
  color: $color-white;
  padding: 0 20px;
}

 .brand{
  display: flex;
  text-decoration: none;
  align-items: center;
  h1 {
    margin: 0px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

 .first-img-home{
  width: 300px;
  height: 200px;
 }

 #about {
  background-color: $color-secondary;
  color: $color-primary;
  padding-bottom: 160px;

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 160px;

    .services-header {
      text-align: center;
      h3 {
        margin-bottom: 12px;
        font-weight: 300;
        color: $color-text-secondary;
      }

      p {
        font-size: 32px;
        margin-inline: auto;
        font-weight: 500;
      }
    }

    .cards-sass {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .card-sass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
        }

        .card-text-sass {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 16px 0 80px 0;
          gap: 8px;

          p {
            font-weight: 300;
            color: $color-text-secondary;
            font-size: 18px;
            text-align: center;
          }
        }
      }
    }
   }

  .start-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 160px;

    img {
      width: 100%;
    }

    .text-container {
      h1 {
        text-align: left;
        font-size: 32px;
      }

      ul {
        list-style: none;
        margin-top: 20px;

        li {
          display: flex;
          align-items: center;
          height: 36px;
          gap: 12px;
          justify-content: flex-start;
          font-size: 18px;
          font-weight: 500;
          margin: 12px 0;

          svg {
            height: 100%;
          }
        }
      }
    }
  }

  .conect-customers {
    display: flex;
    flex-direction: column-reverse;

    .conect-text {
      h1 {
        text-align: left;
        font-size: 32px;
        margin-bottom: 20px;
      }
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        height: 36px;
        gap: 12px;
        justify-content: flex-start;
        font-size: 18px;
        font-weight: 500;
        margin: 12px 0;

        svg {
          height: 100%;
        }
      }
    }
  }
}

#contact {
  padding: 160px 0;
  color: $color-secondary;

  .form-header {
    text-align: center;
    margin-bottom: 40px;
  }

  form {
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 20px;

      label {
        span {
          color: red;
        }
      }

      input {
        height: 40px;
        padding: 12px;
        border: 1px solid $color-secondary;
        border-radius: 8px;
        color: $color-primary;
        background-color: $color-secondary;
      }

      textarea {
        resize: none;
        height: 120px;
        padding: 12px;
        border: 1px solid $color-secondary;
        border-radius: 8px;
        color: $color-primary;
        background-color: $color-secondary;
      }
    }

    .button-sass {
      background-color: $color-secondary;
      color: $color-primary;
    }

    .button-sass:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }

}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 8px;
  color: $color-secondary;
}
