@use 'base' as *;



.logo {
  img {
    width: 40px;
    height: 40px;
  }


}

.main-name {
  font-family: $font-nunito;
  font-size: 16px;
  color: $color-white;
  @include textStyles();
}

.collapse{
  display: flex;
  display: none;
}

.navbar-nav{
  display: flex;
  list-style: none;
}

.header-content{
  display: flex;
  align-items: center;
  margin-top: 4%;
}

.title{
  text-decoration: none;
  font-family: $font-openSans;
  font-size: 16px;
  color: $color-white;
  padding: 0 20px;
}

 .brand{
  display: flex;
  text-decoration: none;
  align-items: center;
  h1 {
    margin: 0px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

 .first-img-home{
  width: 300px;
  height: 200px;
 }



