@use 'base' as *;

// header
.header {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
}









