$color-blue: #09c7d4;
$color-white: #fff;
$color-primary: #1a1e29;
$color-text-secondary: #31343b;
$color-background: #343a40;
$color-secondary: #bbb;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-openSans: 'Open Sans', sans-serif;
